@charset "UTF-8";

/* 回答はここに書いてね */

/* ========================================
.main_box
========================================= */
.main_box {
  box-sizing: border-box;
  padding: 20px;
  width: 940px;
  background-color: #eff3f4;
  margin: 0 auto;
}




/* ========================================
	.content_box1
========================================= */
.img_1 {
  float: left;
  margin: 0  20px 10px 0;
}

.text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

/* ========================================
	.content_box2
========================================= */
.img_2 {
  float: right;
  margin: 0 0 10px 20px;
}



/* 回答はここに書いてね */
