@charset "UTF-8";

/* 回答はここに書いてね */


.menu {
  margin: 0 auto;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.menu tr {
  text-align: center;
}

.menu th {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  background-color: #2244aa;
}

.menu th,
.menu td {
  border: 1px solid #dedede;
  padding: 10px 0;
}

.menu tfoot {
  border-top: 2px dashed #000;
}

.menu tr:nth-child(even) {
  background-color: #ecf1f2;
}



/* 回答はここに書いてね */
