@charset "UTF-8";

/* 回答はここに書いてね */


.menu {
  margin: 0 auto;
  border-top: 1px solid #dedede;
}

.menu tr {
  width: 100%;
  display: table;
  table-layout: fixed;
  text-align: center;
}

.menu tr:nth-child(odd) {
  background-color: #ecf1f2;
}
.menu tr:not(:nth-child(5)){
  border-bottom: 1px solid #dedede;
}

.menu tr:nth-child(6){
  border-top: 2px dashed #000;
}


.menu th {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  padding: 10px;
  background-color: #2244aa;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}

.menu td {
  border-right: 1px solid #dedede;
  padding: 10px 0;
}






/* 回答はここに書いてね */
